*{
		padding:0;
		margin:0;
		box-sizing: border-box;
	}



	table{
	margin:8rem auto;
	border:2px;
	outline-color:black;
	outline-style:double;
	background:#42a4f5;
	padding:5px;
	border-collapse:collapse;
	transform:rotate(45deg);
	cursor: pointer;
	outline-width: 8px;
	opacity:0.8;
	}

	table td{
		border:2px solid black;
		text-align:center;
		color:#f2f2f2;
		transform:rotate(-45deg);

	}
	#demo1{
		animation: first 15s infinite linear;
	}

	@keyframes first{
		from{
			transform:rotateZ(0deg);
		}
		to{
			transform:rotateZ(360deg);
		}
	}

	.demo{
		animation:second 15s infinite linear;

	}

	@keyframes second{
		from{
			transform:rotateZ(0deg);
		}
		to{
			transform:rotateZ(-360deg);
		}
	}